.entire{
    border: solid 2px;
    background-color: #ddd;
}

.img-header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
  }
  
  .img-header img {
   border: solid 2px;
    height: auto; 
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #d8d6cf;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}




.table1 caption {
    color: #ff5722;
}


.table2 caption {
    color: #4caf50;
}


.head{
    text-align: center;
    color: #996633;
}
h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Container for special items */
.special-items-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    color: #996633;
}
.h1-special{
    color: #996633;
}

.special-item {
    
    padding: 15px;
    width: 200px; 
    text-align: center;
    
    
}

.special-item img {
    max-width: 100%;
    height: auto;
    
}

.special-item h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.special-item h4:last-of-type {
    color: #000000; 
}
.h1-special{
    text-align: center;
}


.about-h{
    text-align: center;
    margin-top: 20px;
    color: #996633;
    
}
.about-p{
    text-align: center;
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
      
}


.talk{
    text-align: center;
    
}
.talk-h{
    color: #996633;
}

footer.social-media {
    padding: 10px;
    text-align: center;
    
}

footer.social-media div {
    display: inline-block; 
    padding: 10px; /* Space inside the box around the icons */
    border: 2px solid #ddd; /* Light gray border color */
    border-radius: 8px; /* Rounded corners for the box */
    background-color: #fff; /* White background color for the box */
}

footer.social-media img {
    width: 40px; 
    height: auto; 
    margin: 0 10px; 
    vertical-align: top; 
}
